.App {
  font-family: "Open Sans", serif;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  top: -8px;
  left: -8px;
  /* background-color: darkblue; */
}

h1,
h2 {
  font-family: "EB Garamond", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 32px;
}

p {
  font-weight: 300;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* position: absolute; */
  font-family: "Open Sans Condensed", serif;
  height: 120px;
}

.logo {
  width: 100px;
  align-self: start;
  padding: 20px;
}

.nav-links-home {
  width: 620px;
  position: absolute;
  right: 10px;
  top: 30px;
}

.nav-links-home a {
  margin-right: 30px;
  font-size: 16px;
  color: white;
}

.nav-links-home a:hover {
  border-bottom: 1.5px solid white;
}

.nav-links-home button {
  height: 50px;
  width: 150px;
  background-color: #0b0b43;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 1px;
}

.nav-links {
  width: 620px;
  position: absolute;
  right: 10px;
  top: 30px;
}

.nav-links a {
  margin-right: 30px;
  font-size: 16px;
  color: black;
}

.nav-links a:hover {
  border-bottom: 1.5px solid #0b0b43;
}

.nav-links button {
  height: 50px;
  width: 150px;
  background-color: #0b0b43;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 1px;
}

.link {
  /* color: white; */
  text-decoration: none;
}

.main {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  display: block;
  margin-top: -120px;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.title {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 370px;
  left: 30px;
}

.subtitle {
  color: white;
  font-size: 22px;
  position: absolute;
  top: 460px;
  left: 30px;
}

.slide {
  display: flex;
  flex-direction: row;
  padding: 20px 5% 0 5%;
  align-content: space-between;
  width: 90%;
}

.slide > * {
  padding: 20px;
}

.slide .copy {
  width: 65%;
  /* margin: 0 10% 0 5%; */
}

.slide img {
  width: 40%;
  height: auto;
  border-radius: 24px;
}

.gif {
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

/* ~~~~~~ACTIVITIES~~~~~~~~~~ */
.activity-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.activity-img {
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  background-size: cover;
  margin-right: 20px;
}
